<div class="modal fade" id="posModal" ng-controller="TaskController">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="panel panel-info title">
        <div class="panel-heading title" style="background-color: #EC9E69">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden-"true">&times;</span></button>
          <h3 class="panel-title">Post an Errand (Free)</h3>
        </div>

        <div class="panel-body">
          <form ng-submit="createTask()">
            <input type="text" ng-model="task.title" class="form-control" placeholder="Errand Title" required><br>
            <textarea ng-model="task.description" class="form-control" placeholder="Describe what you need done" required></textarea><br>
            <input type="number" ng-model="task.total" class="form-control" placeholder="How much will you spend" required><br>
            <input type="submit" value="Post Now" class="btn btn-warning" style="background-color: #f08d49">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
